div#selectPage
	div(data-role='header')
		h1=subtitle
	div(data-role='content')
		.span #{when}
		.ui-grid-b
			.ui-block-a #{flight.dep} #{flight.source}
			.ui-block-b #{flight.code}
			.ui-block-c #{flight.price}
			.ui-block-a #{flight.arr} #{flight.destination}
			.ui-block-b #{flight.duration}
		a(data-role="button", data-theme="b", href="pay?code=#{flight.code}&when=#{when}") Select
		a(data-role="button", data-theme="b", data-rel="back") No
			