div#timetableViewPage(class='interior', data-role='page')
	h1.logo
		a(href="/")
			img.logoimg(src='images/kq_logo.jpg')
	div(data-role='header', data-position='inline')
		-if (page > 0)
			a#btn-next-timetable(data-role="button", class="ui-btn-left", data-icon="arrow-l", data-iconpos="left", href=prev_url) Prev
		h1=subtitle
		-if (page < 6)
			a#btn-next-timetable(data-role="button", class="ui-btn-right", data-icon="arrow-r", data-iconpos="right", href=next_url) Next
	div(data-role='content')
		ul(data-role='listview')
			li(data-role='list-divider')=date
				span.ui-li-count=flights.length
			-if (flights.length > 0)
				-each flight in flights
					li
						a
							div.ui-grid-b
								div.ui-block-a!=(flight.dep + ' ' + flight.source)
								div.ui-block-b!=flight.code
								div.ui-block-a!=(flight.arr + ' ' + flight.destination)
								div.ui-block-b!=flight.duration
			-else
				li
					div
						span There are no flights scheduled for this date

					
