form#frmTimetableView(action='/timetable', method="post")
	input#action(type='hidden', name='action', value='search')
	input#source(type='hidden', name='source', value=hdn_source)
	div#timetableViewPage(class='interior', data-role='page')
		!=partial('header', { subtitle: subtitle })
		div(data-role='content')
			ul(data-role='listview')
				li(data-role='list-divider')=date
					span.ui-li-count=flights.length
				-each flight in flights
					li
						a
							div.ui-grid-b
								div.ui-block-a!=(flight.dep + ' ' + flight.source)
								div.ui-block-b!=flight.code
								div.ui-block-a!=(flight.arr + ' ' + flight.destination)
								div.ui-block-b!=flight.duration
						
